[tool.poetry]
name = "stitchee"
version = "0.1.0"
description = "NetCDF4 Along-existing-dimension Concatenation Service"
authors = ["Daniel Kaufman <daniel.kaufman@nasa.gov>"]
readme = "README.md"
classifiers = [
    "Topic :: Software Development :: Libraries :: Python Modules"
]
packages = [
    { include = "concatenator" },
]

[tool.poetry.dependencies]
python = "^3.10"
netcdf4 = "^1.6.5"
xarray = "^2024.2.0"
dask = "^2024.2.1"
harmony-service-lib = "^1.0.25"

[tool.poetry.group.dev.dependencies]
pytest = "^8.1.1"
mypy = "^1.9.0"
black = "^24.2.0"
ruff = "^0.3.2"
coverage = "^7.4.3"

[tool.poetry.group.extras.dependencies]

[tool.poetry.scripts]
stitchee_harmony = 'concatenator.harmony.cli:main'
stitchee = 'concatenator.run_stitchee:main'

[build-system]
requires = ["poetry-core"]
build-backend = "poetry.core.masonry.api"

[[tool.mypy.overrides]]
module = "netCDF4.*"
ignore_missing_imports = true

[tool.black]
line-length = 100

[tool.ruff]
builtins = ["ellipsis"]
exclude = [
  ".eggs",
  "doc",
  "_typed_ops.pyi",
]
target-version = "py310"

[tool.ruff.lint]
# E402: module level import not at top of file
# E501: line too long - let black worry about that
# E731: do not assign a lambda expression, use a def
ignore = [
  "E402",
  "E501",
  "E731",
]
select = [
  "F", # Pyflakes
  "E", # Pycodestyle
  "W",
  "I", # isort
  "UP", # Pyupgrade
]
